.smallboxes{
color: #000000;
cursor: hand;
}
.smallboxes:hover{
	color: gray;
	cursor: hand;
}

.spaceout1{
	margin-left: 40px;
}

.spaceout{
	margin-right: 40px;
}

.blacken{
	background-color: #ffa400;
}

.division-button{

}
.division-button:hover{
    cursor: hand;
    background-color: #000000;
    color: #ffff00;
}

.close-players{
    margin-top: 25px;
    cursor: pointer;
    background-color: #009900;
    color: #ffffff;
    width: 100%;font-size: large;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.division-container{
    background-color: #ffa400;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

#meet-players{
    margin-top: 30px;
    font-family: Helvetica;
}

.setpointer{
    cursor: pointer;
}

.myblack{
    color: #080808;
}

#coach_name{
    width: 30%;
}

#coach_picture{
    width: 30%;
}
@media (max-width:900px){
    #coach_name{
        width: 70%;
    }
    #coach_picture{
        width: 70%;
    }
}

@media (max-width:300px){
    #coach_name{
        width: 100%;
    }
    #coach_picture{
        width: 100%;
    }
}

.match-time{
    background-color: teal;
    padding: 10px;
    color: #ffffff;
    border-radius: 2px;
    margin-top: -10px;
    float: right;
}

.rg-match{
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    margin-top: -10px;
    font-weight: lighter;
}

.home-team{
    float: left;
}
.away-team{
    margin-left: 90px;
}

#versus{
     padding: 10px;
     background-color: orange;
     color: #ffffff;
     border-radius: 2px;
}

@media (max-width: 600px){
.headername{
    font-size: 14px;
}

.nextmatch{
    font-size: 12px;
}

    .singlegalpic{
        margin-bottom: 15px;
    }
}

@media (max-width: 400px){
.navbar-brand{
    font-size: 10px;
}

.nextmatch{
    font-size: 10px;
}
.galleryMatch{
    margin-left: 0px;
}
.galleryTrain{
    margin-left: 0px;
}

}

.galleryMatch{
    margin-right: -5px;
}
.galleryTrain{
    margin-right: 5px;
}

#thegallerypics{
    margin-top: 20px;
}

.singlegalpic:hover{
    width: 140%;
    height: auto;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 10px 10px 10px 10px #0277bd, 10px 10px 10px 10px #0277bd;
    -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.16), 10px 10px 10px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 10px 10px 8px rgba(0, 0, 0, 0.16), 0px 10px 10px 8px rgba(0, 0, 0, 0.12);
}

.singlegalpic{
    width: 100%;
    border-color: #000000;
    z-index: 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
}

.teamheading{
     -webkit-box-shadow: 10px 10px 10px 10px #0277bd, 10px 10px 10px 10px #0277bd;
     -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.16), 10px 10px 10px 10px rgba(0, 0, 0, 0.16);
     box-shadow: 0px 10px 10px 8px rgba(0, 0, 0, 0.16), 0px 10px 10px 8px rgba(0, 0, 0, 0.12);
     display: inline-block;
     padding: 20px 20px 30px 20px;
     border-bottom-right-radius: 20px;
     border-bottom-left-radius: 20px;
     font-weight: bold;
     color: #dff0d8;
 }

.oppteamheading{
    -webkit-box-shadow: 10px 10px 10px 10px #0277bd, 10px 10px 10px 10px #0277bd;
    -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.16), 10px 10px 10px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 10px 10px 8px rgba(0, 0, 0, 0.16), 0px 10px 10px 8px rgba(0, 0, 0, 0.12);
    display: inline-block;
    padding: 20px 20px 30px 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    font-weight: bold;
    color: orangered;
}


