<div class="row" style="margin-bottom: 20px;">
    <div class="col-lg-4">
        <label>First line message (40 characters)</label>
        <input class="form-control" name="firstline" id="firstline">
    </div>
    <div class="col-lg-4">
        <label>Second Line message (45 characters)</label>
        <input class="form-control" name="secondline" id="secondline">
    </div>
    <div class="col-lg-4">
        <label>Slide Picture (label of picture)</label>
        <input class="form-control" name="slide_picture" id="slide_picture">
    </div>
    <center><button class="btn btn-success" onclick="addSlide()" style="width: 80%; margin-bottom: 5%; margin-top: 2%;">Add Slide</button></center>
</div>
<center><button class="btn btn-danger" style="width: 80%;" onclick="collapseAddSlide()">Cancel</button> </center>
