<center>
    <hr style="width: 2px; color:  #000; background-color: #000">
    <div class="row">
        <button class="btn btn-primary" onclick="addMatchGallery()">Add Match Gallery</button>
        <button class="btn btn-primary" onclick="addTrainingGallery()">Add Training Gallery</button>
        <button class="btn btn-success" onclick="addMatchPic()">Add Match Photos</button>
        <button class="btn btn-success" onclick="addTrainingPic()">Add Training Photos</button>
    </div>
</center>
<div id="gallerycont" style="margin-top: 20px;"></div>
